@import '../core/Variables.scss';
.character{
    background-color: $mainColor;
    &__link{
        color:$textColor;
        &--img{
            width: 200px;
        }
        &--info{
            width: 200px;
            padding: 10px;
        }
    }
}