.header{
    position: relative;
    width: 100%;
    background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/950/public/media/image/2019/05/rick-morty-temporada-4-llegara-noviembre.jpg?itok=6Bguw2Cu');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: black;
    &__text{
        display: none;
    }
}